body {
	background-color: #fce9c5;
}
h1 {
	margin: 5vw auto 6vw;
}
section {
	text-align: justify;
	padding: 5px;	
	height: 100%;	
}
a.btn-link {
	width: 100%;	
}
.col-content {
	margin-bottom: 15px;
}
.navbar-brand {
    font-weight: 700;
}

@media (min-width: 768px) {
	#navbarNav {
		visibility: collapse;
	}
}
@media (min-width: 576px) {
	.navbar>.container {
		 padding: 0 15px; 
	}	
}



